In [52]:
import pandas as pd

data = pd.read_csv('input 4.txt', sep=" ", header=None, converters={0: lambda x: str(x)})
df = data

In [14]:
data

                0
0    000110010001
1    101000110000
2    000110010111
3    100011100010
4    111001100001
..            ...
995  000010010001
996  101010101110
997  111100111111
998  000010100010
999  011010111101

[1000 rows x 1 columns]

In [30]:
zero_bits = 0
one_bits = {}
gamma =''
for count, row in data.iterrows():
    for i in range(len(row[0])):
        if i not in one_bits:
            one_bits[i] = 0
        one_bits[i] +=int(row[0][i])

    # gamma +=
for value in one_bits.values():
    if value>500:
        gamma+='1'
    else:
        gamma +='0'

a = int(gamma, 2)
a

935

In [31]:
zero_bits = 0
one_bits = {}
gamma = ''
for count, row in data.iterrows():
    for i in range(len(row[0])):
        if i not in one_bits:
            one_bits[i] = 0
        one_bits[i] += int(row[0][i])

    # gamma +=
for value in one_bits.values():
    if value < 500:
        gamma += '1'
    else:
        gamma += '0'

a = int(gamma, 2)
a

3160

In [32]:
935*3160

2954600

In [4]:
import numpy as np

txt = np.loadtxt('input 4.txt')

In [73]:
def check_digit(series, place, number):
    index = []
    for i in series.iteritems():
        # print(i[1])
        # break
        if int(i[1][place]) == number:
            index.append(i[0])
    return index

data = df.copy()[0]
# check_digit(data,0,0)
data.loc[check_digit(data,0,0)]

0      000110010001
2      000110010111
5      001010001010
6      010100100101
7      011000010000
           ...
993    001001001111
994    011000110100
995    000010010001
998    000010100010
999    011010111101
Name: 0, Length: 511, dtype: object

In [42]:
for i in data.iteritems():
    print(i[0])
    break

0

In [91]:
#most common
data = df.copy()[0]
zero_bits = 0
one_bits = {}
gamma = ''
i=0
# for i in range(len(data[0][0])):
while True:

    ones = 0
    for count, row in data.iteritems():
        ones += int(row[i])
    if ones >= data.shape[0]/2:
        data = data.loc[check_digit(data, i, 1)]
    else:
        data = data.loc[check_digit(data, i, 0)]
    i += 1
    if i > 12 or data.shape[0] == 1:
        break
    # print(data)
    # gamma +=
# for value in one_bits.values():
#     if value >= 500:
#         gamma += '1'
#     else:
#         gamma += '0'

# a = int(gamma, 2)
data
a = int(data.iloc[0], 2)
a

573

In [94]:
#most common
data = df.copy()[0]
zero_bits = 0
one_bits = {}
gamma = ''
i=0
# for i in range(len(data[0][0])):
while True:

    ones = 0
    for count, row in data.iteritems():
        ones += int(row[i])
    if ones < data.shape[0]/2:
        data = data.loc[check_digit(data, i, 1)]
    else:
        data = data.loc[check_digit(data, i, 0)]
    i += 1
    if i > 12 or data.shape[0] == 1:
        break
    # print(data)
    # gamma +=
# for value in one_bits.values():
#     if value >= 500:
#         gamma += '1'
#     else:
#         gamma += '0'

# a = int(gamma, 2)
data
a = int(data.iloc[0], 2)
a

2902

In [95]:
2902*573

1662846

In [75]:
data

0      000110010001
2      000110010111
5      001010001010
6      010100100101
7      011000010000
           ...
993    001001001111
994    011000110100
995    000010010001
998    000010100010
999    011010111101
Name: 0, Length: 511, dtype: object

In [33]:
data.shape[0]

1000